{% extends 'layout.html' %}
{% load socialaccount %}

{% block title %}
    Авторизация
{% endblock %}

{% block content %}
    <div class="register">
        <section>
            <h1>Авторизация</h1>
            <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}

                <div class="input-group">
                    {{ form.username }}
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                </div>

                <div class="input-group">
                    {{ form.password }}
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                </div>

                <div class="center_button">
                    <button>Подтвердить</button>
                </div>
            </form>
            <div class="center-wrapper">
                <a href="{% provider_login_url 'google' %}" class="google-btn">
                    <img src="https://www.svgrepo.com/show/355037/google.svg" alt="Google" />
                    <span>Войти через Google</span>
                </a>
            </div>
            <p>Еще нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
        </section>
    </div>
{% endblock %}