{% extends 'layout.html' %}

{% block title %}
    add document
{% endblock %}

{% block content %}
    <div class="userReport">
        <h1>Отправка отчёт</h1>

        <form action="{% url 'analytics:add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-file">
                {{ form.file }}
                <label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
            </div>
            <p>Пришлите отчёт в формате .html</p>
            <div class="center_button">
                <button type="submit">Подтвердить</button>
            </div>
        </form>
    </div>
{% endblock %}