<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        	Invest Orb
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
</head>
<body>

    <nav class="navigation">
        <a href="/">
            Invest Orb
        </a>
        <a href="{% url 'users:main' %}">
            Profile
        </a>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

<footer>
    <p>Важная информация</p>
</footer>

</body>
</html>