<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        	Invest Orb
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>

    <nav class="navigation">
        <a href="/">
            Invest Orb
        </a>

        {% if user.is_authenticated %}

            <a href="{% url 'analytics:main' %}" class="nav-username">{{ user.username }}</a>

             <form method="post" action="{% url 'users:logout' %}" class="nav-form">
                {% csrf_token %}
                <button type="submit" class="nav-button">Выйти</button>
            </form>

        {% else %}
            <a href="{% url 'users:login' %}">
                <button class="nav-button">Войти</button>
            </a>
        {% endif %}

    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

{#<footer>#}
{#    <p>Важная информация</p>#}
{#</footer>#}

</body>
</html>